# Dependencies
/node_modules

# Build outputs
/dist
/build
/out
/bundle
/snaps

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Env & secrets
.env
.env.*.local

# OS / IDE files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Puppeteer / Chromium cache
.cache/
puppeteer_cache/
