services:
  server:
    build:
      context: .
    env_file:
      - ./.env
    environment:
      NODE_ENV: production
      HOST: 0.0.0.0
      PORT: 3000
      CORS_ORIGIN: "${NOVEL_CLIENT},${VERCEL_CLIENT}"
    ports:
      - "3000:3000"
    restart: unless-stopped
